---
import { SITE } from "src/config";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Tag from "@components/Tag.astro";
import getCountedTags from "@utils/getCountedTags";
import type { Frontmatter } from "src/types";

const posts = await Astro.glob
<Frontmatter>("../../contents/**/*.{md,mdx}");

    let countedTags = getCountedTags(posts);
    let sortedTags = countedTags.map(t => t.tag)
    sortedTags.sort()
    ---

    <Layout title={`Tags | ${SITE.title}`}>
        <Header activeNav="tags"/>
        <Main pageTitle="Tags" pageDesc="All the tags used in posts.">
            <div class="w-96 mx-auto">
                <h2 class="text-2xl mb-2 font-bold">Top 10 tags</h2>
                {countedTags.slice(0,10).map(tag =>
                <div class="flex flex-row justify-between py-1 first:rounded-t-xl last:rounded-b-xl">
                    <Tag name={tag.tag} size="lg"/>
                    <div>
                        <span class="bg-gray-500 text-lg rounded-full py-1 px-4 text-white font-bold inline-flex leading-none text-center">
                            {tag.count}
                        </span>
                    </div>
                </div>
                )
                }
            </div>
            <h2 class="text-xl mt-8 mb-2 font-bold">All tags</h2>
            <ul>
                {sortedTags.map(tag =>
                <Tag name={tag} size="lg"/>
                )}
            </ul>
        </Main>
        <Footer/>
    </Layout>
