<article class="prose">
    <p>
        Hi! My name is Magnus Wahlstrand, and this is my blog.<span class="text-gray-500">
        Here I share my thoughts on software development, and share things I'm learning about. Currently, I am interested in:
    </span>
        <a href="./tags/react">React</a>,
        <a href="./tags/typescript">Typescript</a>,
        <a href="./tags/aws">Amazon Web Services</a>,
        <a href="./tags/serverless">Serverless</a>
    </p>
</article>
