<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">
  <head>
    

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <title>Useful Terraform snippets - wahlstrand.dev</title>
  <meta name="description" content="A while back I was introduced to Terraform by a colleague. Since then, I have started using it more and more both at work and for my own projects.
Terraform is a declarative tool for managing infrastructure. You specify what resources and resource state you want, in configuration files, and Terraform gets it to that state. I have used some of HashiCorp&rsquo;s tools in the past (Consul, Vault, &hellip;) and they all have great user experience and good documentation, and Terraform is no exception.">
  <meta name="author" content="Magnus Wahlstrand"/><script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "WebSite",
    "name": "wahlstrand.dev",
    
    "url": "https:\/\/kyeett.github.io"
}
</script><script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "",
  "url": "https:\/\/kyeett.github.io"
  
  
  
  
}
</script>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "item": {
          "@id": "https:\/\/kyeett.github.io",
          "name": "home"
        }
    },{
        "@type": "ListItem",
        "position": 3,
        "item": {
          "@id": "https:\/\/kyeett.github.io\/fragments\/2021-04-02-useful-terraform-snippets\/",
          "name": "Useful terraform snippets"
        }
    }]
}
</script><script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Article",
  "author": {
    "name" : "Magnus Wahlstrand"
  },
  "headline": "Useful Terraform snippets",
  "description" : "A while back I was introduced to Terraform by a colleague. Since then, I have started using it more and more both at work and for my own projects.\nTerraform is a declarative tool for managing infrastructure. You specify what resources and resource state you want, in configuration files, and Terraform gets it to that state. I have used some of HashiCorp\u0026rsquo;s tools in the past (Consul, Vault, \u0026hellip;) and they all have great user experience and good documentation, and Terraform is no exception.\n",
  "inLanguage" : "en",
  "wordCount":  283 ,
  "datePublished" : "2020-04-02T00:00:00",
  "dateModified" : "2020-04-02T00:00:00",
  "image" : "https:\/\/kyeett.github.io\/img\/avatar-icon.png",
  "keywords" : [ "terraform, infrastructure" ],
  "mainEntityOfPage" : "https:\/\/kyeett.github.io\/fragments\/2021-04-02-useful-terraform-snippets\/",
  "publisher" : {
    "@type": "Organization",
    "name" : "https:\/\/kyeett.github.io",
    "logo" : {
        "@type" : "ImageObject",
        "url" : "https:\/\/kyeett.github.io\/img\/avatar-icon.png",
        "height" :  60 ,
        "width" :  60
    }
  }
}
</script>

<meta property="og:title" content="Useful Terraform snippets" />
<meta property="og:description" content="A while back I was introduced to Terraform by a colleague. Since then, I have started using it more and more both at work and for my own projects.
Terraform is a declarative tool for managing infrastructure. You specify what resources and resource state you want, in configuration files, and Terraform gets it to that state. I have used some of HashiCorp&rsquo;s tools in the past (Consul, Vault, &hellip;) and they all have great user experience and good documentation, and Terraform is no exception.">
<meta property="og:image" content="https://kyeett.github.io/img/avatar-icon.png" />
<meta property="og:url" content="https://kyeett.github.io/fragments/2021-04-02-useful-terraform-snippets/" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="wahlstrand.dev" />

  <meta name="twitter:title" content="Useful Terraform snippets" />
  <meta name="twitter:description" content="A while back I was introduced to Terraform by a colleague. Since then, I have started using it more and more both at work and for my own projects.
Terraform is a declarative tool for managing …">
  <meta name="twitter:image" content="https://kyeett.github.io/img/avatar-icon.png" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@wahlstra" />
  <meta name="twitter:creator" content="@wahlstra" />
  <link href='https://kyeett.github.io/img/favicon.ico' rel='icon' type='image/x-icon'/>
  <meta name="generator" content="Hugo 0.83.1" />
  <link rel="alternate" href="https://kyeett.github.io/index.xml" type="application/rss+xml" title="wahlstrand.dev"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.10.0/katex.min.css" integrity="sha384-9eLZqc9ds8eNjO3TmqPeYcDj8n+Qfa4nuSiGYa6DjLNcv9BtN69ZIulL9+8CqC9Y" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"><link rel="stylesheet" href="https://kyeett.github.io/css/main.css" /><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" />
  <link rel="stylesheet" href="https://kyeett.github.io/css/highlight.min.css" /><link rel="stylesheet" href="https://kyeett.github.io/css/codeblock.css" /><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.2/photoswipe.min.css" integrity="sha384-h/L2W9KefUClHWaty3SLE5F/qvc4djlyR4qY3NUV5HGQBBW7stbcfff1+I/vmsHh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.2/default-skin/default-skin.min.css" integrity="sha384-iD0dNku6PYSIQLyfTOpB06F2KCZJAKLOThS5HRe8b3ibhdEQ6eKsFf/EeFxdOt5R" crossorigin="anonymous">



<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-190996420-1', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>


  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top navbar-custom">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="https://kyeett.github.io">wahlstrand.dev</a>
    </div>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav navbar-right">
        
          
            <li>
              <a title="Articles" href="/articles">Articles</a>
            </li>
          
        
          
            <li>
              <a title="Fragments" href="/fragments">Fragments</a>
            </li>
          
        
          
            <li>
              <a title="Tags" href="/tags">Tags</a>
            </li>
          
        
          
            <li>
              <a title="Now" href="/page/now">Now</a>
            </li>
          
        
          
            <li>
              <a title="About" href="/page/about">About</a>
            </li>
          
        

        

        
      </ul>
    </div>

    
      <div class="avatar-container">
        <div class="avatar-img-border">
          <a title="wahlstrand.dev" href="https://kyeett.github.io">
            <img class="avatar-img" src="https://kyeett.github.io/img/avatar-icon.png" alt="wahlstrand.dev" />
          </a>
        </div>
      </div>
    

  </div>
</nav>




    


<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

<div class="pswp__bg"></div>

<div class="pswp__scroll-wrap">
    
    <div class="pswp__container">
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
    </div>
    
    <div class="pswp__ui pswp__ui--hidden">
    <div class="pswp__top-bar">
      
      <div class="pswp__counter"></div>
      <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
      <button class="pswp__button pswp__button--share" title="Share"></button>
      <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
      <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
      
      
      <div class="pswp__preloader">
        <div class="pswp__preloader__icn">
          <div class="pswp__preloader__cut">
            <div class="pswp__preloader__donut"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
      <div class="pswp__share-tooltip"></div>
    </div>
    <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
    </button>
    <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
    </button>
    <div class="pswp__caption">
      <div class="pswp__caption__center"></div>
    </div>
    </div>
    </div>
</div>


  
  
  






  

  <header class="header-section ">
    
    <div class="intro-header no-img">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="fragments-heading">
              
                <h1>Useful Terraform snippets</h1>
              
              
                <hr class="small">
              
              
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>


    
<div class="container" role="main">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <article role="main" class="blog-post">
        <p>A while back I was introduced to <a href="https://www.terraform.io/">Terraform</a> by a colleague. Since then, I have started using it more and more both at work and for my own projects.</p>
<p>Terraform is a declarative tool for managing infrastructure. You specify what resources and resource state you want, in configuration files, and Terraform gets it to that state. I have used some of <a href="https://www.hashicorp.com/">HashiCorp&rsquo;s</a> tools in the past (Consul, Vault, &hellip;) and they all have great user experience and good documentation, and Terraform is no exception.</p>
<h2 id="snippets">Snippets</h2>
<h3 id="gitignore">.gitignore</h3>
<p>Before you start, make sure to use a good .gitignore configuration to avoid committing secrets and sensitive information. Here is Github&rsquo;s  <a href="https://github.com/github/gitignore/blob/master/Terraform.gitignore">Terraform .gitignore</a>.</p>
<h3 id="terraform-s3-backend">Terraform S3 backend</h3>
<p>For production systems it is better to store state centrally, rather than locally. I have used S3 for this. More information here: <a href="https://www.terraform.io/docs/language/settings/backends/s3.html">Terraform S3 Backend</a>.</p>
<div class="highlight"><pre style="background-color:#fff;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-json" data-lang="json"><span style="color:#a61717;background-color:#e3d2d2">terraform</span> {
  <span style="color:#a61717;background-color:#e3d2d2">backend</span> <span style="color:#000080">&#34;s3&#34;</span> {
    <span style="color:#a61717;background-color:#e3d2d2">bucket</span> <span style="color:#a61717;background-color:#e3d2d2">=</span> <span style="color:#000080">&#34;heroku-terraform-backend-v1&#34;</span>
    <span style="color:#a61717;background-color:#e3d2d2">key</span> <span style="color:#a61717;background-color:#e3d2d2">=</span> <span style="color:#d14">&#34;heroku.tfstate&#34;</span>
    <span style="color:#a61717;background-color:#e3d2d2">region</span> <span style="color:#a61717;background-color:#e3d2d2">=</span> <span style="color:#d14">&#34;eu-north-1&#34;</span>
    <span style="color:#a61717;background-color:#e3d2d2">profile</span> <span style="color:#a61717;background-color:#e3d2d2">=</span> <span style="color:#d14">&#34;terraform-s3&#34;</span>
  }
}
</code></pre></div><h3 id="heroku">Heroku</h3>
<div class="highlight"><pre style="background-color:#fff;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-tf" data-lang="tf">terraform {
 ...<span style="color:#998;font-style:italic">
</span><span style="color:#998;font-style:italic">  # Include the Heroku provider
</span><span style="color:#998;font-style:italic"></span>  required_providers {
    <span style="color:#008080">heroku</span> = {
      <span style="color:#008080">source</span> = <span style="color:#d14">&#34;heroku/heroku&#34;</span>
      <span style="color:#008080">version</span> = <span style="color:#d14">&#34;3.2.0&#34;</span>
    }
  }
}
</code></pre></div><div class="highlight"><pre style="background-color:#fff;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-tf" data-lang="tf"><span style="color:#998;font-style:italic"># Configure the Heroku provider
</span><span style="color:#998;font-style:italic">// https://www.terraform.io/docs/language/values/variables.html#variable-definitions-tfvars-files
</span><span style="color:#998;font-style:italic"></span><span style="color:#000;font-weight:bold">provider</span> <span style="color:#d14">&#34;heroku&#34;</span> {
  <span style="color:#008080">email</span> = <span style="color:#0086b3">var</span>.heroku_email
  <span style="color:#008080">api_key</span> = <span style="color:#0086b3">var</span>.heroku_api_key
}
</code></pre></div><p><strong>secret.auto.tfvars</strong> (should NOT be commited)</p>
<div class="highlight"><pre style="background-color:#fff;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-fallback" data-lang="fallback">heroku_api_key = &#34;065211f9-12df-43b6-9c40-c2aea3ed24ad&#34;
heroku_email = &#34;magnus@mail.com&#34;
</code></pre></div><h3 id="loading-json">Loading JSON</h3>
<h4 id="from-s3">From S3</h4>
<div class="highlight"><pre style="background-color:#fff;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-tf" data-lang="tf"><span style="color:#998;font-style:italic">// https://registry.terraform.io/providers/hashicorp/aws/latest/docs/data-sources/s3_bucket_object
</span><span style="color:#998;font-style:italic"></span><span style="color:#000;font-weight:bold">data</span> <span style="color:#d14">&#34;aws_s3_bucket_object&#34;</span> <span style="color:#d14">&#34;sensitive_vars&#34;</span> {
    <span style="color:#008080">bucket</span> = <span style="color:#d14">&#34;my-very-sensitive-data-bucket&#34;</span>
    <span style="color:#008080">key</span>    = <span style="color:#d14">&#34;data.json&#34;</span>
}
</code></pre></div><div class="highlight"><pre style="background-color:#fff;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-tf" data-lang="tf">locals {
    <span style="color:#008080">sensitive</span> =<span style="color:#0086b3"> jsondecode</span>(<span style="color:#0086b3">data</span>.aws_s3_bucket_object.sensitive_vars.body)
}
</code></pre></div><h4 id="from-gcp-storage">From GCP storage</h4>
<div class="highlight"><pre style="background-color:#fff;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-tf" data-lang="tf"><span style="color:#000;font-weight:bold">data</span> <span style="color:#d14">&#34;google_storage_bucket_object_content&#34;</span> <span style="color:#d14">&#34;sensitive_gcp_vars&#34;</span> {
  <span style="color:#008080">bucket</span> = <span style="color:#d14">&#34;my-very-sensitive-data-bucket-on-gcp&#34;</span>
  <span style="color:#008080">name</span>   = <span style="color:#d14">&#34;folder/butterfly01.json&#34;</span>
}


locals {
  <span style="color:#008080">sensitive_gcp</span> =<span style="color:#0086b3"> jsondecode</span>(<span style="color:#0086b3">data</span>.google_storage_bucket_object_content.sensitive_gcp_vars.content)
}
</code></pre></div><h3 id="using-local-variables">Using local variables</h3>
<div class="highlight"><pre style="background-color:#fff;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-tf" data-lang="tf"><span style="color:#000;font-weight:bold">resource</span> <span style="color:#d14">&#34;heroku_app&#34;</span> <span style="color:#d14">&#34;default&#34;</span> {
    <span style="color:#008080">name</span> = <span style="color:#d14">&#34;my-cool-terraform-app&#34;</span>
    <span style="color:#008080">region</span> = <span style="color:#d14">&#34;eu&#34;</span>

    <span style="color:#008080">config_vars</span> = {
        <span style="color:#008080">FOOBAR</span> = <span style="color:#d14">&#34;barfoo2&#34;</span>
    }

    <span style="color:#008080">sensitive_config_vars</span> = {
        <span style="color:#008080">USERNAME</span> = local.sensitive.username,
        <span style="color:#008080">PASSWORD</span> = local.sensitive.password,
    }

    <span style="color:#008080">buildpacks</span> = [
        <span style="color:#d14">&#34;heroku/go&#34;</span>
    ]
}
</code></pre></div>

        
          <div class="blog-tags">
            
              <a href="https://kyeett.github.io/tags/terraform/">terraform</a>&nbsp;
            
              <a href="https://kyeett.github.io/tags/infrastructure/">infrastructure</a>&nbsp;
            
          </div>
        

        
            <hr/>
            <section id="social-share">
              <div class="list-inline footer-links">
                

<div class="share-box" aria-hidden="true">
    <ul class="share">
      
      <li>
        <a href="//twitter.com/share?url=https%3a%2f%2fkyeett.github.io%2ffragments%2f2021-04-02-useful-terraform-snippets%2f&amp;text=Useful%20Terraform%20snippets&amp;via=wahlstra" target="_blank" title="Share on Twitter">
          <i class="fab fa-twitter"></i>
        </a>
      </li>
  
      
      <li>
        <a href="//www.facebook.com/sharer/sharer.php?u=https%3a%2f%2fkyeett.github.io%2ffragments%2f2021-04-02-useful-terraform-snippets%2f" target="_blank" title="Share on Facebook">
          <i class="fab fa-facebook"></i>
        </a>
      </li>
  
      
      <li>
        <a href="//reddit.com/submit?url=https%3a%2f%2fkyeett.github.io%2ffragments%2f2021-04-02-useful-terraform-snippets%2f&amp;title=Useful%20Terraform%20snippets" target="_blank" title="Share on Reddit">
          <i class="fab fa-reddit"></i>
        </a>
      </li>
  
      
      <li>
        <a href="//www.linkedin.com/shareArticle?url=https%3a%2f%2fkyeett.github.io%2ffragments%2f2021-04-02-useful-terraform-snippets%2f&amp;title=Useful%20Terraform%20snippets" target="_blank" title="Share on LinkedIn">
          <i class="fab fa-linkedin"></i>
        </a>
      </li>
  
      
      <li>
        <a href="//www.stumbleupon.com/submit?url=https%3a%2f%2fkyeett.github.io%2ffragments%2f2021-04-02-useful-terraform-snippets%2f&amp;title=Useful%20Terraform%20snippets" target="_blank" title="Share on StumbleUpon">
          <i class="fab fa-stumbleupon"></i>
        </a>
      </li>
  
      
      <li>
        <a href="//www.pinterest.com/pin/create/button/?url=https%3a%2f%2fkyeett.github.io%2ffragments%2f2021-04-02-useful-terraform-snippets%2f&amp;description=Useful%20Terraform%20snippets" target="_blank" title="Share on Pinterest">
          <i class="fab fa-pinterest"></i>
        </a>
      </li>
    </ul>
  </div>
  

              </div>
            </section>
        

        
          

          
        
      </article>

      
        <ul class="pager blog-pager">
          
            <li class="previous">
              <a href="https://kyeett.github.io/fragments/2021-03-06-using-an-orm-with-go/" data-toggle="tooltip" data-placement="top" title="Using an ORM with Go">&larr; Previous Post</a>
            </li>
          
          
        </ul>
      


      
        
        
      

    </div>
  </div>
</div>

      
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <ul class="list-inline text-center footer-links">
          
              <li>
                <a href="https://github.com/kyeett" title="GitHub">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/wahlstra" title="Twitter">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
          
          <li>
            <a href="" title="RSS">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-rss fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          
        </ul>
        <p class="credits copyright text-muted">
          
            
              Magnus Wahlstrand
            
          

          &nbsp;&bull;&nbsp;&copy;
          
            2021
          

          
            &nbsp;&bull;&nbsp;
            <a href="https://kyeett.github.io">wahlstrand.dev</a>
          
        </p>
        
        <p class="credits theme-by text-muted">
          <a href="https://gohugo.io">Hugo v0.83.1</a> powered &nbsp;&bull;&nbsp; Theme <a href="https://github.com/halogenica/beautifulhugo">Beautiful Hugo</a> adapted from <a href="https://deanattali.com/beautiful-jekyll/">Beautiful Jekyll</a>
          
        </p>
      </div>
    </div>
  </div>
</footer><script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.10.0/katex.min.js" integrity="sha384-K3vbOmF2BtaVai+Qk37uypf7VrgBubhQreNQe9aGsz9lB63dIFiQVlJbr92dw2Lx" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.10.0/contrib/auto-render.min.js" integrity="sha384-kmZOZB5ObwgQnS/DuDg6TScgOiWWBiVt0plIRkZCmE6rDZGrEOQeHM5PcHi+nyqe" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script src="https://kyeett.github.io/js/main.js"></script>
<script src="https://kyeett.github.io/js/highlight.min.js"></script>
<script> hljs.initHighlightingOnLoad(); </script>
<script> $(document).ready(function() {$("pre.chroma").css("padding","0");}); </script><script> renderMathInElement(document.body); </script><script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.2/photoswipe.min.js" integrity="sha384-QELNnmcmU8IR9ZAykt67vGr9/rZJdHbiWi64V88fCPaOohUlHCqUD/unNN0BXSqy" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.2/photoswipe-ui-default.min.js" integrity="sha384-m67o7SkQ1ALzKZIFh4CiTA8tmadaujiTa9Vu+nqPSwDOqHrDmxLezTdFln8077+q" crossorigin="anonymous"></script><script src="https://kyeett.github.io/js/load-photoswipe.js"></script>









    
  </body>
</html>

